.outer {
    //width: 1000px;
    //max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

.mat-table {
    height: 500px;
    max-height: 500p;
    overflow-y: scroll;
}

.table {
    width: 100%;
}

.mat-header-cell, .mat-cell {
    min-width: 75px;
}

 .mat-column-name {
     font-weight: bold;
     width: 250px;
     min-width: 150px;
 }

 .mat-column-team, .mat-column-position {
     font-style: italic;
 }