<div class="app">

    <mat-toolbar color="primary" class="header">
        <div>NFL Rushing</div>
    </mat-toolbar>

    <div class="content my-custom-theme" color="primary">

        <div class="table-section">
            <app-player-table></app-player-table>
        </div>

        <div class="download-section">
            <button mat-raised-button color="accent" (click)="playerComp.downloadCsv()">Download CSV (All Data)</button>
            <button mat-raised-button color="accent" (click)="playerComp.downloadCsv(playerComp.input.nativeElement.value)">Download CSV (Filtered Data)</button>
            <button mat-raised-button color="accent" (click)="playerComp.downloadCsv(playerComp.input.nativeElement.value, playerComp.paginator.pageSize)">Download CSV (Single Page)</button>
        </div>

    </div>

</div>